@charset "UTF-8" ;

*{
    padding: 0px;
    margin: 0;
}


body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw ;
    height: 100vh;
    background-image: url(background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}

section.redes{
    
    text-align: right;
    padding: 2vw;   
}

section.redes>a{
    text-decoration: none;
    
}
section.redes>a>img{
    width: 70px;
    margin-right:10px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.801);
    
}

.redes>a>img:hover{
    width: 85px;
    border-radius: 20%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.801);
    transform: translate(5px, -5px);
    transition: .2s;
    
}

.redes>a>img:active{
    width: 80px;
    border-radius: 20%;
    box-shadow: 2px 2px 30px rgb(67, 180, 245);
    transform: translate(5px, -5px);
    
    
}

section.celular{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 625px;
    background-size: 250px 500px ;
    background-image: url(frame-iphone.png);
    background-repeat: no-repeat; 
    background-position: center center;
    
    
}

iframe#iphone{  
    position: relative;
    top: 127px; 
    left: 50px;        
    width: 213px;
    height: 374px;
    background-image: url(tela-home.jpg);
    background-position: center center;
    background-size: cover;

    
}

